.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1{
  font-size: 5vh;
  margin-bottom: 0%;
}

h2{
  font-size: 2.5vh;
  margin-top: 0.4vh;
}

.App-header {
  background-color: #00509f;
  min-height: 5vh;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  font: calc(10px + 2vmin);
  color: #000000;
}

.App-footer
{
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffd500e7;
  min-height: 5vh;
  text-align: left;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
