.sparql-display-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 60vw;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 auto;
    gap: 5px;
  }
  
  .sparql-title {
    display: flex;
    padding: 5px;
    gap: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
  }
  
  .sparql-textbox-container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 60px;
    max-height: 200px;
    resize: none;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Arial, sans-serif;
    overflow-y: auto;
  }
  
  .sparql-textbox {
    width: 100%;
    height:auto;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 8px;
  }