.QuestionForm{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input{
    width: 40vw;
    font-size:medium;
    padding: 0.8rem;
    margin: 1rem;
    border: 1px solid;
    border-radius: 4px;
}

form button[type="submit"]{
  display:inline-block;
  padding: 0.8rem;
  background-color: #cfbebe;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #228b22;
}