.App-footer
{
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fedcd2;
  height: 5vh;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.footer-text{
  font-size: 14px;
}
