.App-header {
    background:-moz-radial-gradient(circle at 50% 50%, #001D64 0%, #09172B 100%, #071324 101%);
    background:-webkit-radial-gradient(circle at 50% 50%, #001D64 0%, #09172B 100%, #071324 101%);
    background:-o-radial-gradient(circle at 50% 50%, #001D64 0%, #09172B 100%, #071324 101%);
    background:-ms-radial-gradient(circle at 50% 50%, #001D64 0%, #09172B 100%, #071324 101%);
    background:radial-gradient(circle at 50% 50%, #001D64 0%, #09172B 100%, #071324 101%);
    height: 15vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: flex-start;
    /* font: calc(10px + 2vmin); */
    color: #ffffff;
    text-align: left;
  }
.App-header h1{
  font-size: 5vh;
  margin-bottom: 0;
}
  
.App-header h2{
  font-size: 2.5vh;
  margin-top: 0;
}